*{
   margin: 0;
   padding: 0;
}
html,
body {
   min-height: 100%;
}
.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
}.header {
   padding: 40px;
   text-align: center;
   background-color: #f8ec83;
}.main {
   padding: 100px;
   text-align: center;
   background-color: #9fff82a1;
}
.footer {
   padding: 40px;
   text-align: center;
   background-color: #76a6ff;
}